/*https://www.youtube.com/watch?v=Zn64_IVLO88*/

html{
    height: 100%;
    width: 100%;
    
}
body{
    height: 100%;
    width: 100%;
    background-color: #3045575d ;
}

.navbar{
    position:relative;
    padding: 1% 0%;
    font-size: 1.2em;
    background-color: #1b4264a4;
    width: 100%;
}

.navbar-brand{
    min-height:55px;
    padding: 5px 15px 0px;
}
.img-responsive {
    height: auto;
    width: auto;
    max-height: 80px;
    max-width: 250px;
}
#home{
    background: url("../img/microphone-device-music.jpg");
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    padding-top:100px;
    opacity: 90%;
}

#navbarright{
    padding-right: 30px;
}

.landing-text h1{
    font-size: 500%;
    font-weight: 700;
}


.padding{
    padding-bottom: 60px;
}
.padding img{
    width:80%;
    padding-top: 60px;
}

#extratext{
    padding-top: 60px;
}

footer{
    width:100%;
    padding: 2% 0 2% 0;
    font-size: 10px;
   
}
